[build]
builder = "NIXPACKS"

[build.env]
NPM_CONFIG_PRODUCTION = "false"

[deploy]
startCommand = "node server.js"
healthcheckPath = "/"
healthcheckTimeout = 300
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
